@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, main {
  @apply h-full relative;
}

swiper-container {
  @apply w-full h-full;
}

swiper-slide {
  @apply flex justify-center p-4 pt-24 bg-cover bg-no-repeat;
}

.social-link {
  @apply mt-1 p-2 block;
}

.text-shadow {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
}

.title {
  @apply text-center text-4xl text-shadow font-bold;
}

.link-button {
  @apply block w-full max-w-md mx-auto py-4 px-2 mt-8 bg-slate-800/50 border-2 border-indigo-300 rounded-lg text-center text-shadow font-semibold;
}

.slide-1 {
  background-image: url(../img/bg-slide-1.jpg);
}


.slide-2 {
  background-image: url(../img/bg-slide-2.jpg);
}


.slide-3 {
  background-image: url(../img/bg-slide-3.jpg);
}